@page
@model WebRegistrace.Pages.Uzivatele.IndexModel
@{
}


<br>

<h2>Seznam</h2>
<a class='btn btn-primary btn-sm' href='/Uzivatele/Registrace'>Novy Uzivatel</a>
<table class="table">
    <thead>
        <tr>

            <th>login</th>
            <th>heslo</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listUzivatelu)
        {
            <tr>
            <td>@item.login</td>
            <td>@item.heslo</td>
            
            
            <td>
            <a class="btn btn-primary btn-sm"href="/Uzivatele/Smazat?login=@item.login">Smazat</a>
            </td>
            </tr>
        }

    </tbody>
    </table>