@page
@model WebRegistrace.Pages.RegistraceModel

<br>
<h1 style="color:MediumSeaGreen;">Registrace </h1>


<style>
    body {
        background-color: #b0c4de;

       
    
    }
    .container {  
        
    }
    
</style>



    


@if (Model.error.Length>0)
{
    <div class='alert alert-warning alert-dismissible fade show' role='alert'>
        <strong>@Model.error</strong>
    </div>
}


<div class="container">
    <form method="post">
        <label for="login">Login</label><br>
           <input type="text"id="login" name="Login"><br>

     
            
           <label for="heslo">Heslo</label><br>
           <input type="text" id="heslo" name="Heslo"><br>

           <input type="submit"value="Registruj">
           
        
       </form>
       </div>





