@page
@model WebRegistrace.Pages.Uzivatele.IndexModel
@{
}
<style>
    body {
        background-color: #b0c4de;
    }

    thead {
        color: green;
    }

    tbody {
        color: black;
    }

   
  

    
</style>

<br>


<h1 style="color: MediumSeaGreen;">Seznam uživatelů</h1>


<a class='btn btn-primary btn-lg' href='/Uzivatele/Registrace'>Nový Uživatel</a>

<table class="table">
    
    <thead>
        <tr>

            <th>Login</th>
            <th>Heslo</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listUzivatelu)
        {
            <tr>
                
                <td>@item.login</td>
            <td>@item.heslo</td>
            
            
            <td>
            <a class="btn btn-primary btn-sm"href="/Uzivatele/Smazat?login=@item.login">Smazat</a>
            </td>
            </tr>
        }

    </tbody>
    </table>