@page
@model IndexModel
@{
	
	<!--//copyright-->
	
}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
<link href="CSS/StyleSheet.css" rel="Stylesheet" type="text/css" />
 <style>
	 body{
		background-image: url('https://cdn.pixabay.com/photo/2018/10/12/21/09/grass-3743023_960_720.jpg');
		background-repeat:no-repeat;
		background-position:center;
		background-size:cover
	 }

	
	 .button2
	 {
		 

	 }
	
	 
	 
	 .nadpis 
	 {
		

		color:ThreeDFace;
		font-family: "Sofia", sans-serif;
		font-size: 60px;
		text-shadow: 5px 5px 5px #ababab;
		text-align:center;
		background-image: linear-gradient(to bottom right,green, yellow);
		border-radius: 25px;
		padding: 20px;
		width: auto;
		height: auto;
		
		animation-name:jedna;
		animation-duration:4s;
	 }

	.button2:hover {
		box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
		align-self:center;
		
	}
	  

	 .imgg:hover

	{
		
		
	 }

	 .box{
		
		
		margin: auto;
		width: 60%;
		border: 5px solid ;
		padding: 120px;
		text-align:center;
		font-family:"Sofia", sans-serif;
		font-size:50px;
		
		
	 }



	 .column {
  float: left;
  width: 33.33%;
}


.row:after {
  content: close-quote: "";
  display: table;
  clear: both;
}




	 



 </style>

<div class= "nadpis">
	
	<h1 class="nadpis">ProjektAPP</h1>
	
	

</div>
<body>
	
	  

<div class="imgg">
	gfdgdf

	<p>
		@Model.Message
		
	</p>

		<button class="button button2">Tlačítko
			
		</button>
		
</div>


<div class="box"
	
	<p> Toto je ůvodní strana </p>

</div>
</body>


