@page
@model WebRegistrace.Pages.RegistraceModel


<h1>Registrace </h1>

@if(Model.heslo!=""&& Model.login!="")
{
   <p>Registrace uživatele @Model.login proběhla ůspěšně</p>
}
else
{
    <p>Registrace neproběhla</p>
}


<div class="container">
    <form method="post">
        <label for="login">Login</label><br>
           <input type="text"id="login" name="Login"><br>

     
            
           <label for="heslo">Heslo</label><br>
           <input type="text" id="heslo" name="Heslo"><br>

           <input type="submit"value="Registruj">
 

       </form>
       </div>


     